JWT_SECRET=uma_chave_secreta_super_forte
HOSTNAME=localhost
PORT=3000

# App
DB_HOST=mysql
DB_USER=root
DB_PASS="s3M@4-r!*dYs"
DB_NAME=azcursos
DB_PORT=3306

# MySQL Container
MYSQL_ROOT_PASSWORD="s3M@4-r!*dYs"
